# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment specific
.env
.venv/
venv/
ENV/

# Database
*.db
*.sqlite
*.sqlite3
aistock.db

# IDE and Editor
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
pip-log.txt

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# others
*.csv